
.head_nav_lay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 60px;
    margin-left: 40px;

}

.logo_flex{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}

.logo_title{
    font: Georgia;
    font-weight: 400;
    font-size: 32px;
    color: #F1CDB3;
}

.logo_subtitle{
    font: Arial;
    font-weight: 400;
    font-size: 13px;
    color:#FFFFFF;
}

.nav_menu{
    display: flex;
    flex-direction: row;
}

.menu_options{
    color: #FFFFFF;
    text-decoration: none;
    font: Arial;
    font-weight: 400;
    font-size: 15px;
    margin: 15px;
    
}

.menu_options_first{
    color: #FFFFFF;
    font: Arial;
    font-weight: 400;
    font-size: 15px;
    margin: 15px;
    text-decoration: underline #F1CDB3;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    
}

.start_background{
    height: 908px;
    padding-top: 30px;
    background: linear-gradient(to bottom right,#5B483A, #262425,  #211F20);
    
}

body{
    max-width: 1280px;
    min-width: 1280px;
    margin:0 auto;
}

